// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

header {
    height: $header-height;

    .navbar {
        width: 100%;
        height: $header-height;
    }

    .col {
        padding: 0;
    }
}

.paginator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
