@import url(https://fonts.googleapis.com/css?family=Nunito);header {
  height: 60px;
}

header .navbar {
  width: 100%;
  height: 60px;
}

header .col {
  padding: 0;
}

.paginator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

